{% extends 'base.html.twig' %}

{% block title %}OpenAI | API
{% endblock %}

{% block body %}
	<div {{ react_component('header', { title: 'Try different models from openAI' } ) }}></div>
{% endblock %}
