{% extends 'base.html.twig' %}

{% block title %}OpenAI | API
{% endblock %}

{% block body %}

	<div {{ react_component('header', { title: 'Rapid experience of OpenAI' } ) }}></div>
	<video class='ball-mp4 border-title p-5' autoplay muted loop>
		<source src="{{ asset('assets/videos/vecteezy_reflection-abstract-ball-sphere-digital-spot-lights-fast-blink-blue-cyan-tone-color-in-digital-world-on-the-black-screen_2592309.mp4') }}" type="video/mp4">
		Your browser does not support the video tag.
	</video>
{% endblock %}
