{% extends 'base.html.twig' %}

{% block title %}OpenAI | API
{% endblock %}

{% block body %}

    <div {{ react_component('formDallE') }} class="d-flex justify-content-center"></div>

{% endblock %}
