{% extends 'base.html.twig' %}

{% block title %}OpenAI | API
{% endblock %}

{% block body %}

    <div {{ react_component('header', { title: 'This chat use GPT-3 of OpenAI' } ) }}></div>
    <div {{ react_component('form', { formURL: 'https://127.0.0.1:8000/chat/answer', labelTitle: 'GPT will answer at your prompt :', placeholderTitle: 'enter your text for GPT IA here...', buttonTitle: 'Send to GPT' } ) }} class="d-flex justify-content-center"></div>

{% endblock %}
