// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";

// customize some Bootstrap variables
:root {
    --clr:#FFC745;
}

.screen-size {
    width: auto;
    max-width: 900px;
}

body {
    background-image: url(../img/Design-sans-titre.png);
    background-repeat: no-repeat;
}

* {
    font-family: "BrunoAceSC-Regular";    
}

@font-face {
    font-family: "BrunoAceSC-Regular", Arial;
    src: url("BrunoAceSC-Regular.ttf") format("ttf");
}

#nav-btn {
    border-style: solid;
    border-width: 0.3rem;
    border-color: rgba(0, 157, 202,0.2);
    border-radius: 0.2rem;
    color: rgba(0, 157, 202,0.3) !important;
}

.navbar {
    margin: 0 !important;
    --bs-navbar-padding-y: 0 !important;
}

.container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.background-one {
    background-color: transparent;
    width: 140px;
}

.link-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
    z-index: 0;
}

.link-one {
    color: #009DCA;
    transition: color 1s cubic-bezier(0.32, 0, 0.67, 0);
    line-height: 1em;
  }
  
  .link-one:hover {
    color: #111;
    transition: color 1s cubic-bezier(0.33, 1, 0.68, 1); 
    /* Thanks Chris Coyier, you got my back always. https://css-tricks.com/different-transitions-for-hover-on-hover-off/ */
  }
  
  .link-one::before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: #009DCA;
    clip-path: circle(0% at 50% calc(50%));
    transition: clip-path 1s cubic-bezier(0.65, 0, 0.35, 1);
  }
  
.link-one:hover::before {
    clip-path: circle(100% at 50% 50%);
}
  
.link-one::after {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: #151515;
  
    clip-path: polygon(
      40% 0%,
      60% 0%,
      60% 0%,
      40% 0%,
      40% 100%,
      60% 100%,
      60% 100%,
      40% 100%
    );
    transition: clip-path 1s cubic-bezier(0.65, 0, 0.35, 1);
}
  
.link-one:hover::after {
    clip-path: polygon(
      40% 10%,
      60% 10%,
      60% 35%,
      40% 35%,
      40% 90%,
      60% 90%,
      60% 65%,
      40% 65%
    );
}

//pour les titres
.border-title {
    background-color: black;
    border-style: solid;
    border-width: 0.1rem;
    border-color: rgb(0, 51, 65);
    border-radius: 20px;  
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.border-form {
    background-color: black;
    border-style: solid;
    border-width: 0.1rem;
    border-color: rgb(0, 51, 65);
    border-radius: 20px;  
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

h1 {
    color: #FFC745 !important;
}

p {
    color: #FFC745 !important; 
}

.focus-only:focus {
    outline: 0px solid transparent;
}

.my-textarea::placeholder {
    color: #FFC745;
    font-weight: 700;
}

textarea {
    background-color: black !important;
    color: #FFC745;
    border-color: rgb(0, 51, 65);
}

.font-label b {
    color: #FFC745;
}

//boutton
button {
    position: relative;
    border-radius: 20px;
    background: black;
    color: #FFC745;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    letter-spacing: 0.1rem;
    font-size: 1rem;
    padding: 1rem 3rem;
    transition: 0.2s;
  }
  
  button:hover {
    letter-spacing: 0.2rem;
    padding: 1.1rem 3.1rem;
    background: var(--clr);
    color: var(--clr);
    animation: box 3s infinite;
  }
  
  button::before {
    content: "";
    position: absolute;
    inset: 2px;
    background: rgb(0, 51, 65);
    border-radius: 20px;
  }
  
  button span {
    position: relative;
    z-index: 1;
    border-radius: 20px;
  }
  button i {
    border-radius: 20px;
    position: absolute;
    inset: 0;
    display: block;
  }
  
  button i::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    left: 80%;
    top: -2px;
    border: 2px solid var(--clr);
    background: rgb(0, 51, 65);
    transition: 0.2s;
  }
  
  button:hover i::before {
    width: 15px;
    left: 20%;
    animation: move 3s infinite;
  }
  
  button i::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    left: 20%;
    bottom: -2px;
    border: 2px solid var(--clr);
    background: rgb(0, 51, 65);
    transition: 0.2s;
  }
  
  button:hover i::after {
    width: 15px;
    left: 80%;
    animation: move 3s infinite;
  }
  
  @keyframes move {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(5px);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  @keyframes box {
    0% {
      box-shadow: rgb(0, 51, 65);
    }
    50% {
      box-shadow: 0 0 25px var(--clr);
    }
    100% {
      box-shadow: rgb(0, 51, 65);
    }
  }
  
